/* Setup */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* Colours */

:root {
  --primary-colour: #11a0c0;
  --secondary-colour: #ffc0cb;
  --tertiary-colour: #ffffffa9;
}

/* Global Styles / Resets */

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* Typography ----> */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
}

h1,
h2,
label {
  font-weight: 600;
}

.characterLimitMsg,
textarea,
.cardContainer p {
  font-weight: 700;
}

h1 {
  padding-bottom: 20px;

  font-family: 'Ubuntu', sans-serif;
  font-size: 12rem;
  line-height: .8;
  text-transform: capitalize;
}

h2 {
  font-size: 4rem;
}

label,
textarea,
.cardContainer {
  font-size: 2.5rem;
}

h1,
.cardContainer button,
form button {
  color: var(--primary-colour);
}

.cardContainer,
.layoutContainer {
  background: var(--tertiary-colour);
}

.cardContainer button,
form button,
footer a {
  font-size: 3rem;
}

/* Background */

body {
  background: url(./assets/sakura.jpg) repeat center/cover;
}

/* FlexBox */

.layoutContainer,
form,
.cardStack ul,
footer {
  display: flex;
}

/* Header + Form */

.layoutContainer {
  max-width: 80%;
  min-width: 675px;

  padding: 25px 50px;
  margin: 80px auto 50px auto;
}

/* Form */

.characterLimitMsg {
  height: 46px;
  width: 230px;

  margin-bottom: 5px;
  text-align: center;
}

form {
  margin-left: 50px;
  flex-direction: column;
}

label {
  padding: 20px;
}

textarea,
form button,
.cardContainer {
  width: 230px;
}

textarea,
.cardContainer {
  height: 300px;
}

textarea,
.cardContainer p {
  line-height: 1.35;
}

textarea,
form button {
  border: 3px solid var(--primary-colour);
  transition: all 0.2s;
}

textarea {
  padding: 15px;

  font-family: inherit;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;

  resize: none;
}

textarea:active,
textarea:focus {
  outline: none;
  border: 3px solid var(--secondary-colour);
  box-shadow: 0 0 30px var(--secondary-colour);
}

textarea:invalid {
  outline: none;
}

form button {
  padding: 10px 20px;

  border: 3px solid var(--primary-colour);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  background: var(--secondary-colour);
}

form button:hover,
form button:focus {
  background: var(--primary-colour);
  color: var(--secondary-colour);
}

.layoutContainer,
.cardContainer {
  border-radius: 5px;
}

/* Card Stack ----> */

.cardStack ul {
  justify-content: center;
  flex-wrap: wrap;      
}

.cardContainer {
  margin: 10px;
  padding: 20px 15px 15px 15px;
    
  position: relative;
}

.cardContainer p {
  overflow-wrap: break-word;
}

.cardContainer button {
  padding: 10px 20px;

  background: #ffffff00;
  border: none;

  position: absolute;
  top: -10px;
  right: -10px;

  transition: color 0.3s;
}

.cardContainer button:hover,
.cardContainer button:focus {
  color: #000;
}

/* Copyright & Social Links */

footer {
  padding: 15px 0;
  margin-top: 15px;
  background: #cadfe9;

  justify-content: center;
  align-items: center;
}

.socialLinks {
  padding-left: 30px;
}

footer a {
  padding: 10px;
}

footer a:nth-of-type(1) {
  color:  #465585;
}

footer a:nth-of-type(2) {
  color: #1da1f2;
}

footer a:nth-of-type(3) {
  color: #0e76a8;
}

footer a:hover,
footer a:focus {
  color: var(--secondary-colour);
}



/* Media Queries ----------------> */

/* Smaller Screens / Tablets */
@media (max-width: 765px) {
  .layoutContainer {
    min-width: 100%;
    background: none;
    flex-direction: column;
  }

  header,
  .formContainer {
    background: var(--tertiary-colour);
    border-radius: 5px;
  }

  header {
    min-width: 270px;
    margin-bottom: 50px;
    padding: 20px;
  }

  form {
    margin: 0;
  }

  .formContainer {
    width: 270px;
    padding: 5px 20px 20px 20px;
    display: inline-block;
  }

  /* End of Query */
}

/* Small Screens / Large Mobiles */
@media (max-width: 565px) {
  body {
    background-position: top;
    background-size: 300%;
  }
}

/* Mobile */
@media (max-width: 485px) {
  .layoutContainer {
    padding: 0;
  }

  .formContainer {
    margin: 0 auto;
  }

  h1 {
    font-size: 9rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  footer {
    flex-direction: column;
  }

  .socialLinks {
    padding: 10px 0 0 0;
  }

  /* End of Query */
}